<h1>Home</h1>
<div class="containerPrincipal">

{{#each products}}
<div class="containerProductos">
<h2>{{title}}</h2>
<h3>{{description}}</h3>
<p>Categoria: {{category}}</p>
{{price}}


</div>
{{/each}}

</div>



